<p id="notice"><%= notice %></p>

<p>
  <strong>Oname:</strong>
  <%= @otel.Oname %>
</p>

<p>
  <strong>Oemail:</strong>
  <%= @otel.Oemail %>
</p>

<p>
  <strong>Ophone:</strong>
  <%= @otel.Ophone %>
</p>

<p>
  <strong>Oadress:</strong>
  <%= @otel.Oadress %>
</p>

<%= link_to 'Edit', edit_otel_path(@otel) %> |
<%= link_to 'Back', otels_path %>
